.dapp-friends-list {
  &__item {
    display: inline-block;
    margin-right: 33px;
    text-align: center;

    .name {
      display: block;
      font-weight: 700;
      font-size: 12px;
      margin: 8px 0;
    }

    img {
      display: inline-block;
    }
  }
}
